body {
  background-image: url('../img/navy_blue.png');  
}

#main {
  max-width: 310px;
  height: 80px;
  font-family: Oswald, "Helvetica Neue", Arial, sans-serif;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: whitesmoke;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px;
  box-shadow: 0px 5px 10px;
}

#main-photo {
  float:left;
  padding-right:10px;
}

#info {
  max-width: 220px;
  float: left;
}

#info h1 {
  max-width: 310px;
  margin: 0;
  font-size: 30px;
  line-height:30px;
  font-weight: 400;
  letter-spacing: -.05em;
}
#info h2, #resume-link {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -.02em;
}

#links {
  margin-top: 3px;
}

#links a {
  text-decoration: none;
}

#links i {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.twitter-icon {
  background-image: url("../img/glyphicons_392_twitter.png");
}

.github-icon {
  background-image: url("../img/glyphicons_381_github.png");
}

.linkedin-icon {
  background-image: url("../img/glyphicons_377_linked_in.png");
}

.wf-loading hr,
.wf-loading .content,
.wf-loading h1, 
.wf-loading h2, 
.wf-loading h3, 
.wf-loading p, 
.wf-loading li,
.wf-loading img,
.wf-loading a {
  font-family: Impact;
  opacity:0;
}

 h1, h2, h3, p, li, img, a {
   opacity: 1;
   -webkit-transition: opacity 0.24s ease-in-out;
          -moz-transition: opacity 0.24s ease-in-out;
               transition: opacity 0.24s ease-in-out;
}

